@*<div ng-app="maps" class="">
    <a ui-sref="hello">Hello</a>
    <a ui-sref="about">About</a>

    <ui-view></ui-view>
    <ui-view></ui-view>
</div>*@

<div  ng-app="Maps" class="">
    <div ui-view></div>
</div>
