
.nationalities-chart-directive-container {
    width: 80px;
    height: 300px;
    overflow: hidden;

    position: relative;
}

.nationalities-chart-directive-element {
    width: 100%;

    position: absolute;

}
.nationalities-chart-table-page{
    height: 600px;
}


